*.js linguist-detectable=false
*.C linguist-detectable=false
*.Shell linguist-detectable=false
*.Nushell linguist-detectable=false
*.Batchfile linguist-detectable=false
*.html linguist-detectable=true
*.py linguist-detectable=true
*.css linguist-detectable=true
