*.js linguist-detectable=false
*.cpp linguist-detectable=false
*shell linguist-detectable=false
*nushell linguist-detectable=false
*batchfile linguist-detectable=false
*.html linguist-detectable=true
*.py linguist-detectable=true
*.css linguist-detectable=true
